<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
      {{>header}}
      <p>This website use data from www.mapbox.com and www.weatherstack.com to give information
      about weather.</p>
        <img class="portrait" src="/img/weather_img.jpg">
   </div>


{{>footer}}

</body>

</html>