<!DOCTYPE html>
<html>
<head>
   <title>Home</title>
   <link rel="icon" href="/img/logo.png">
   <link rel="stylesheet" href="./css/style.css">
</head>

<body>
   <div class="main-content">
      {{>header}}
      <p>Find the weather of any Location!</p>
      <form>
         <input ="Location">
         <button>Search</button>
      </form>
      <p id="message-2"></p>
      <p id="message-3" ></p>
      <p id="message-4" ></p>
      <p id="message-5" ></p>
      <p id="message-6" ></p>
      <p id="message-7" ></p>
      <p id="message-8" ></p>
      <p id="message-9" ></p>
      <p id="message-10" ></p>
    


      <script src="js/app.js"> </script> 
   </div>


{{>footer}}
</body>

</html>